<h2>{{ title }}</h2>
<div class="horizontal-scroll">
    <table class="table">
        <thead class="table-header">
            <tr class="row">
                <th class="column heading">
                        <mco-checkbox 
                        (onChange)="toogleAll($event)">
                        </mco-checkbox>
                </th>
                <th class="column heading" *ngFor="let field of fields">
                    <mco-column-header [field]="field">
                    </mco-column-header>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" *ngFor="let item of dataList$ | async">
                <td class="column">
                    <mco-checkbox 
                        (onChange)="select(item, $event)">
                    </mco-checkbox>
                </td>
                <td @fade *ngFor="let field of fields">
                    <mco-column
                        [data]="item[field]"
                        [showTrueAs]="showTrueAs"
                        [showFalseAs]="showFalseAs">
                    </mco-column>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <td [colSpan]="fields.length">
                <mco-pagination (onInteration)="loadData()"></mco-pagination>
            </td>
        </tfoot>
    </table>
</div>