<h2>{{ title }}</h2>
<div class="horizontal-scroll">
    <table class="table">
        <thead class="table-header">
            <tr class="row">
                <th class="column heading">
                        <my-checkbox 
                        (onChange)="toogleAll($event)">
                        </my-checkbox>
                </th>
                <th class="column heading" *ngFor="let field of fields">
                    <my-column-header [field]="field">
                    </my-column-header>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="row" *ngFor="let item of dataList$ | async">
                <td class="column">
                    <my-checkbox 
                        (onChange)="select(item, $event)">
                    </my-checkbox>
                </td>
                <td @fade *ngFor="let field of fields">
                    <my-column
                        [data]="item[field]"
                        [showTrueAs]="showTrueAs"
                        [showFalseAs]="showFalseAs">
                    </my-column>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <td [colSpan]="fields.length">
                <my-pagination (onInteration)="loadData()"></my-pagination>
            </td>
        </tfoot>
    </table>
</div>